.option-to-undo-productcss {
    a:hover {
    color: rgb(111, 105, 183);
    font-weight: bold;
  }
  a {
    font-size: larger;
  }
  font-size: large;
  padding-top: 10px;
  padding-bottom: 20px;
}
.removed-product-name-cart {
  font-weight: bold;
  text-align: left;
  padding-left: 400px;
}